@use "../../scss/utils";

.tag {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: utils.$txt-light-bg;
  background-color: utils.$main-color;
  margin-top: 3px;
  padding: 2px 10px;
  border-radius: 15px;
  cursor: default;
  @extend %shadow;
}

@media (max-width: utils.$small-screen-width) {
  .tag {
    font-size: 12px;
    padding: 3px 30px;
    border-radius: 5px;
  }
}
