@use "../../scss/utils";

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: utils.$bg-secondary;
  color: utils.$txt-bg-secondary;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  @extend %small-shadow;
  cursor: default;
}

.badge-row {
  flex-direction: row;
  gap: 10px;
}

a.badge {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    background-color: utils.$icon-color;
  }
}
