//Main colors
$main-color: #e9d5a1;
$secondary-color: #f6f6f6;

//Background
$bg-dark: black;
$bg-light: #e9d5a1;

//Text
$txt-dark-bg: white;
$txt-light-bg: black;

//Screen sizes
$desktop-max-width: 1500px;
$small-screen-width: 768px;
