//Main colors
$main-color: #e5a9e4;
$secondary-color: #f6f6f6;

//Background
$bg-dark: black;
$bg-light: #e5a9e4;

//Text
$txt-dark-bg: white;
$txt-light-bg: black;

//Screen sizes
$desktop-max-width: 1520px;
$small-screen-width: 768px;
