//Main colors
$main-color: #e9d5a1;
$secondary-color: #f5f2eb;
$icon-color: #b79c6f;

//Background
$bg-main: #e9d5a1;
$bg-secondary: #f5f2eb;
$bg-dark: black;

//Text
$txt-bg-dark: #b79c6f;
$txt-bg-main: black;
$txt-bg-secondary: black;

//Screen sizes
$desktop-max-width: 1500px;
$small-screen-width: 768px;
