footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill, .tag {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  margin: 0;
}

body {
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  background-color: #e9d5a1;
}

#main-container {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}

.conditionnal-break {
  display: none;
}

footer {
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 70px 0 30px;
  cursor: default;
}
footer img {
  height: 40px;
  margin-bottom: 40px;
}

.footer-legal-notice {
  font-size: 20px;
}

@media (max-width: 768px) {
  footer {
    padding: 80px 0;
  }
  footer img {
    height: 45px;
    margin-bottom: 15px;
  }
  .footer-legal-notice {
    align-items: center;
    font-size: 14px;
  }
}
header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}
header h1 {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}
header a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  color: white;
}
header a:visited {
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 10px;
  }
  header img {
    height: 50px;
  }
  header nav {
    gap: 15px;
  }
  header nav a {
    font-size: 14px;
    text-transform: uppercase;
  }
}
.inner-section {
  max-width: 1600px;
  margin: auto;
}

#home-main {
  margin: auto;
}
#home-main h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}
#home-main h2::after {
  content: ".";
  color: black;
  font-weight: bold;
}

#home-title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-title p {
  font-size: 30px;
  font-weight: 900;
}

#home-gallery {
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  background-color: #f6f6f6;
}

#home-about {
  background-color: #e9d5a1;
}
#home-about p {
  width: 60%;
}

#home-skills {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
#home-skills .list-skills {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 20px;
}

#home-contact {
  background-color: #e9d5a1;
}

.tag {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: black;
  background-color: #e9d5a1;
  margin-top: 3px;
  padding: 2px 10px;
  border-radius: 15px;
  cursor: default;
}

@media (max-width: 768px) {
  .tag {
    font-size: 12px;
    padding: 3px 30px;
    border-radius: 5px;
  }
}
.card {
  width: 46%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.card .card-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card img {
  object-fit: cover;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.card h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card span {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.card .card-tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.gallery {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
}

@media (max-width: 768px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    background-color: unset;
    margin-top: 10px;
    padding: 0;
  }
}
.skill {
  display: flex;
  flex-direction: column;
  background-color: #e9d5a1;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */