#home-gallery, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  margin: auto;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  background-color: #e5a9e4;
}

#main-container {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  margin: auto;
}

.conditionnal-break {
  display: none;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  header,
  main {
    margin: 0 30px;
  }
  .conditionnal-break {
    display: unset;
  }
}
footer {
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 70px 0 30px;
  cursor: default;
}
footer img {
  height: 40px;
  margin-bottom: 40px;
}

.footer-legal-notice {
  font-size: 20px;
}

@media (max-width: 768px) {
  footer {
    padding: 80px 0;
  }
  footer img {
    height: 45px;
    margin-bottom: 15px;
  }
  .footer-legal-notice {
    align-items: center;
    font-size: 14px;
  }
}
header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header h1 {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}
header a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  color: white;
}
header a:visited {
  color: white;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

@media (max-width: 768px) {
  header {
    margin-bottom: 10px;
  }
  header img {
    height: 50px;
  }
  header nav {
    gap: 15px;
  }
  header nav a {
    font-size: 14px;
    text-transform: uppercase;
  }
}
.inner-section {
  max-width: 1520px;
  margin: auto;
}

#home-title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-title p {
  font-size: 30px;
  font-weight: 900;
}

#home-gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #f6f6f6;
}

#home-about {
  background-color: #e5a9e4;
}
#home-about p {
  width: 60%;
}

#home-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
}
#home-skills .list-skills {
  display: flex;
  gap: 20px;
}

#home-contact {
  background-color: #e5a9e4;
}

.tag {
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: black;
  background-color: #e5a9e4;
  margin-top: 3px;
  padding: 2px 10px;
  border-radius: 15px;
  cursor: default;
}

@media (max-width: 768px) {
  .tag {
    font-size: 12px;
    padding: 3px 30px;
    border-radius: 5px;
  }
}
.card {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  cursor: pointer;
}
.card .card-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card h3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.card span {
  font-size: 18px;
  font-weight: 500;
  color: black;
}
.card .card-tags {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 280px;
    margin: 10px 0;
  }
}
.gallery {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
  padding: 20px;
}

@media (max-width: 768px) {
  .gallery {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    background-color: unset;
    margin-top: 10px;
    padding: 0;
  }
}
.skill {
  display: flex;
  flex-direction: column;
  background-color: #e5a9e4;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
}/*# sourceMappingURL=style.css.map */