@use "../../scss/utils";

.inner-section {
  max-width: utils.$desktop-max-width;
  margin: auto;
}

#home-main {
  margin: auto;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
    &::after {
      content: ".";
      color: utils.$txt-light-bg;
      font-weight: bold;
    }
  }
}

#home-title {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 30px;
    font-weight: 900;
  }
}

#home-gallery {
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  background-color: utils.$secondary-color;
}

#home-about {
  background-color: utils.$main-color;

  p {
    width: 60%;
  }
}

#home-skills {
  display: flex;
  flex-direction: column;
  background-color: utils.$secondary-color;

  .list-skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 20px;
  }
}

#home-contact {
  background-color: utils.$main-color;
}
