@use "../../scss/utils";

.card {
  width: 100%;
  display: flex;
  margin: 50px 0;
  border-radius: 20px;
  @extend %large-shadow;

  .card-left {
    width: 50%;
    padding: 30px;
    border-radius: 20px 0 0 20px;
  }

  .card-right {
    width: 50%;
    padding: 30px;
    background-color: utils.$bg-light;
    border-radius: 0 20px 20px 0;
  }

  .gradient {
    width: 100px;
    background: linear-gradient(
      to right,
      utils.$secondary-color,
      utils.$bg-light
    );
  }

  button {
    font-size: 16px;
    font-weight: 600;
    border: 2px ridge black;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    @extend %small-shadow;
  }

  .card-infos {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
  }

  img {
    //background-color: utils.$bg-light;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
    //@extend %shadow;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 18px;
    font-weight: 500;
    color: utils.$txt-light-bg;
  }

  .card-tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
