@use "../../scss/utils";

.card {
  width: 100%;
  display: flex;
  margin: 50px 0;
  border-radius: 20px;
  @extend %large-shadow;

  .card-left {
    width: 45%;
    padding: 30px;
    border-radius: 20px 0 0 20px;
  }

  .card-right {
    width: 55%;
    padding: 30px;
    background-color: utils.$bg-light;
    border-radius: 0 20px 20px 0;

    p {
      font-size: 18px;
    }
  }

  .gradient {
    width: 100px;
    background: linear-gradient(
      to right,
      utils.$secondary-color,
      utils.$bg-light
    );
  }

  button {
    border: 2px ridge black;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    margin: 15px 0 10px 20px;
    @extend %small-shadow;
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    }
  }

  .card-infos {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 20px;
  }

  img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 500;
    color: utils.$txt-light-bg;
  }

  .card-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
}
