@use "../../scss/utils";

.card {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  cursor: pointer;

  .card-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  span {
    font-size: 18px;
    font-weight: 500;
    color: utils.$txt-light-bg;
  }

  .card-tags {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: utils.$small-screen-width) {
  .card {
    width: 100%;
    height: 280px;
    margin: 10px 0;
  }
}
