@use "../../scss/utils";

header {
  display: flex;
  justify-content: space-around;
  background-color: utils.$bg-dark;
  color: utils.$txt-dark-bg;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;

  h1 {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
  }

  a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 550;
    color: utils.$txt-dark-bg;
  }

  a:visited {
    color: utils.$txt-dark-bg;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
}

@media (max-width: utils.$small-screen-width) {
  header {
    margin-bottom: 10px;

    img {
      height: 50px;
    }

    nav {
      gap: 15px;

      a {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}
