@use "../../scss/utils";

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  background-color: utils.$bg-secondary;
}

@media (max-width: utils.$small-screen-width) {
  .gallery {
    width: 100%;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
}
