@use "../../scss/utils";

.gallery {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: utils.$secondary-color;
}

@media (max-width: utils.$small-screen-width) {
  .gallery {
    width: 100%;
    flex-direction: column;
    border-radius: 0;
    background-color: unset;
    margin-top: 10px;
    padding: 0;
  }
}
