@use "../../scss/utils";

.skill {
  display: flex;
  flex-direction: column;
  background-color: utils.$secondary-color;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  @extend %small-shadow;
}
