@use "../../scss/utils";

footer {
  display: flex;
  flex-direction: column;
  background-color: utils.$bg-dark;
  color: utils.$txt-bg-dark;
  padding: 70px 0 30px;
  cursor: default;

  img {
    height: 40px;
    margin-bottom: 40px;
  }
}

.footer-legal-notice {
  text-align: center;
  font-size: 20px;
}

@media (max-width: utils.$small-screen-width) {
  footer {
    padding: 80px 0;

    img {
      height: 45px;
      margin-bottom: 15px;
    }
  }

  .footer-legal-notice {
    align-items: center;
    font-size: 14px;
  }
}
