@use "../../scss/utils";

.drop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: utils.$bg-main;
  color: utils.$txt-bg-main;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px utils.$secondary-color solid;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;

  i {
    transition: transform 0.3s ease;
    color: utils.$txt-bg-main;
  }
}

.drop-txt {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.4s ease-in-out;
  font-size: 18px;
  font-weight: 400;

  .drop-txt-content {
    background-color: utils.$bg-main;
    color: utils.$txt-bg-main;
    border-radius: 0 0 5px 5px;
    z-index: 0;
    overflow: hidden;

    span {
      display: block;
      padding: 20px;
    }

    ul {
      list-style-type: disc;
      margin-left: 20px;
    }

    li {
      margin: 10px;
    }
  }
}

.is-open {
  grid-template-rows: 1fr;
}

.rotated {
  transform: rotate(-180deg);
}

@media (max-width: utils.$small-screen-width) {
  .drop-title {
    font-size: 18px;

    i {
      height: 14px;
    }
  }

  .drop-txt {
    font-size: 16px;
  }
}
