@use "../scss/utils";

body {
  height: 100%;
  margin: auto;
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  background-color: utils.$bg-light;
}

#root {
}

#main-container {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  margin: auto;
}

.conditionnal-break {
  display: none;
}

@media (max-width: utils.$small-screen-width) {
  body {
    overflow-x: hidden;
  }

  header,
  main {
    margin: 0 30px;
  }

  .conditionnal-break {
    display: unset;
  }
}
